html {
    font-size: 32px;
    font-family:'Amatic SC', cursive, Georgia, 'Times New Roman', Times, serif;
    color: red;
    background-color: white;
  }
  
  /* latin-ext */
  @font-face {
      font-family: 'Amatic SC';
      font-style: normal;
      font-weight: 400;
      src: local('Amatic SC Regular'), local('AmaticSC-Regular'), url(https://fonts.gstatic.com/s/amaticsc/v12/TUZyzwprpvBS1izr_vOEBOSfQZQ.woff2) format('woff2');
      unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
    }
    /* latin */
    @font-face {
      font-family: 'Amatic SC';
      font-style: normal;
      font-weight: 400;
      src: local('Amatic SC Regular'), local('AmaticSC-Regular'), url(https://fonts.gstatic.com/s/amaticsc/v12/TUZyzwprpvBS1izr_vOECuSf.woff2) format('woff2');
      unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }
  
  
  /*head*/
  #logo {
    position: static;
    float: left;
  
  }
  
  .phrasebox {
    float: right;
    
    }
  
    .phrase {
      text-align: right;
    }
  
  .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    list-style: none;  
    white-space: nowrap;
  }
  
  .navItem{ 
    background-image: url('/images/bananaleaf.png'); /* The image used */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    background-position: center; /* Center the image */
    padding: 5px;
    background-clip: border-box;
    width: 150px;
    text-align: center;
  }
    
  
  
  .navItem a,
  #red {
    color:red;
    font-weight: bolder;
  }
  
  
  
   /*  */


 

   .center {
     text-align: center;
     line-height: 20px;
   
   }
   
   .clicked {
    cursor: pointer;
  }

  .price {
    display: none;
    color: red;
  }

  .showPrice {
    display: visible;
  }

  
  .bigBox {
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: space-around;
     
   
     text-align: center;
     line-height: 5px;
     overflow: auto;   
     }
   

   
  .bigBox img{
     height:120px;
     width: 150px;
     margin: 10px;
     padding: 15px;
    background-color: white;
     border: 1.75px red dashed;
     border-radius: 25px;
   }
  
   .box1 {
     text-align: center;
     line-height: 25px;
     width: 165px;
     padding: 35px;
     
   }
  
  
   .box4 {
    text-align: center;
    line-height: 2px;
    width: 250px;
    padding: 50px;
   display: flexbox;
    align-items: center;
  }
  
 
  /* footer*/
  footer {
    line-height: 12px;
    text-align: right;
  }

  a{
    color: black;
  }

  .lady{
    float: right;
    height: auto;
  }

 

  /* jquery*/
  #logIn {
display: none;

  }


  .buttons {
    display: none;
    width: 150px;
    height: 20px;
}
  #addBox{
    display: none;
    align-items: center;
    
}
  .buttonEdit{
    display: none;
}
  .buttonRemove{
    display: none;
}
  .new{
    display:none;
    text-align: center;
    line-height: 25px;
    width: 165px;
    padding: 35px;
    
}

  
#logout{
  display: none;
}

